PORT=8787
DATA_DIR=/data
WEB_PORT=8787
IMAGE=xiaotong378/tfembyweb:latest
EMBY_SERVER_URL=http://你的-emby-ip:8096
TMDB_API_KEY=
TMDB_BEARER_TOKEN=
DOUBAN_API_BASE=
PUBLIC_APP_NAME=TFEmby Web
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_API_BASE=https://api.telegram.org
TGBOT_PORT=8099
PUBLIC_TGBOT_URL=http://你的-NAS-IP:8099
TGBOT_WEBHOOK_SECRET=
EMBY_API_KEY=
EMBY_USER_ID=
EMBY_MONITOR_EVENTS=library.new,item.added,item.created,itemadded
ENABLE_COVERS=true
DOUBAN_FALLBACK_ENABLED=true
